{% extends 'base.html.twig' %}

{% block title %}Author{% endblock %}

{% block body %}
    <h1>Author</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>AuthorName</th>
                <td>{{ author.AuthorName }}</td>
            </tr>
            <tr>
                <th>AuthorSurname</th>
                <td>{{ author.AuthorSurname }}</td>
            </tr>
            <tr>
                <th>StatusID</th>
                <td>{{ author.StatusID }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_author_index') }}">back to list</a>

    <a href="{{ path('app_author_edit', {'id': author.id}) }}">edit</a>

    {{ include('author/_delete_form.html.twig') }}
{% endblock %}
